<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>sms</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>main.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>main.html</welcome-file>
    <welcome-file>main.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <filter>
         <filter-name>loginfiter</filter-name>
         <filter-class>filter.loginfilter</filter-class>
     </filter>
	<filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>confReloadCheckInterval</param-name>
            <param-value>60</param-value>
        </init-param>
        <init-param>
            <param-name>confPath</param-name>
             <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>DEBUG</param-value>
        </init-param>
    </filter>
	<filter-mapping>
         <filter-name>loginfiter</filter-name>
         <url-pattern>/trading</url-pattern>
         <url-pattern>/trading.jsp</url-pattern>
         <url-pattern>/main</url-pattern>
         <url-pattern>/main.jsp</url-pattern>
     </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
    	<servlet-name>refreshServlet</servlet-name>
    	<servlet-class>servlet.refreshserv</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ownServlet</servlet-name>
    	<servlet-class>servlet.ownserv</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>logServlet</servlet-name>
    <servlet-class>servlet.logserv</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>servlet.registerserv</servlet-class>
  </servlet>
  <servlet>
    	<servlet-name>tradeServlet</servlet-name>
    	<servlet-class>servlet.tradeserv</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>dealServlet</servlet-name>
    	<servlet-class>servlet.dealserv</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>publishServlet</servlet-name>
    	<servlet-class>servlet.publishserv</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>exitServlet</servlet-name>
    	<servlet-class>servlet.exitserv</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>homeServlet</servlet-name>
    	<servlet-class>servlet.homeserv</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>simuServlet</servlet-name>
    	<servlet-class>servlet.simuserv</servlet-class>
    	<load-on-startup>9</load-on-startup>
    </servlet>
  <servlet-mapping>
    <servlet-name>refreshServlet</servlet-name>
    <url-pattern>/refresh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ownServlet</servlet-name>
    <url-pattern>/own</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logServlet</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>tradeServlet</servlet-name>
    <url-pattern>/trade</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>dealServlet</servlet-name>
    <url-pattern>/deal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>publishServlet</servlet-name>
    <url-pattern>/publish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>exitServlet</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>homeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>simuServlet</servlet-name>
    <url-pattern>/simu</url-pattern>
  </servlet-mapping>
</web-app>